@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    @apply w-full max-w-full sm:max-w-[640px] md:max-w-[768px] lg:max-w-[1024px] xl:max-w-[1280px] mx-auto
}

h1.title {
    @apply text-xl font-semibold mb-4
}

.left-block, .right-block {
    @apply bg-gray-100 p-4 lg:p-8
}